<h1><%= link_to @post.title, @post.link, :target => "_blank" %></h1>
<div>
    <h4>Post a comment</h4>
    <%= form_for @comment , url: post_comments_path ,  html: {class:"form"} do |f| %>
        <div class="form-group">
            <%= f.text_area :body,:placeholder => "Enter your comment", :class=>"form-control" %>
        </div>
        <%= f.submit "Post Comment", :class =>"btn btn-primary" %>
    <% end %>
</div>
<br><br>
<ul class="comment_list">
    <%= render :partial => 'comment', :collection => @post.comments %>
</ul>