<h3>Latest posts</h3>
<table class="table">
<tr>
    <th>Score</th>
    <th>Title</th>
    <th>User</th>
    <th>Posted</th>
    <th>Comments</th>
</tr><% if @posts.any? %>
    <% @posts.each do |post| %>
        <tr>
            <td>
                <% if post.votes.where(user_id:@current_user['id']).any? %>
                    <i class="glyphicon glyphicon-chevron-up" style="color: #CCCC88;"></i>
                <% else %>
                    <%= link_to('<i class="glyphicon glyphicon-chevron-up"></i>'.html_safe, post_votes_path(post), method: :post, class: "ajax-vote") %>
                <% end %>
                <span class="vote-count"><%= post.votes.length %></span>
            </td>
            <td><%= link_to post.title,post.link, :target=>'_blank' %></td>
            <td><%= post.user ? post.user.name : 'Unknown' %></td>
            <td><%= format_creation_time post %> </td>
            <td><%= link_to "Comments", post_comments_path(post), :class=>"btn btn-primary btn-xs" %></td>
        </tr>
    <% end %>
<% else %>
    <tr>
        <td>No posts</td>
    </tr>
<% end %>